extends layout
block content
    .wrapper.wrapper-content
        p Dashboard chả có thông tin gì đâu. Tại sao show ra ư?
        p Mình thích thì mình làm thôi :))
        p À quên, Cpanel sử dụng ExpressJS. Gồm chức năng đơn giản như đăng kí, đăng nhập, post bài, danh mục